<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>a2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#092843">
    <meta name="msapplication-TileColor" content="#092843">
    <meta name="theme-color" content="#092843">
    <%= stylesheet_link_tag 'frontend' %>
    <%= javascript_pack_tag 'frontend' %>
  </head>

  <body>
  </body>
</html>
